html
body
.app{
  height: 100vh;
  background-color: #eee;
  padding: 1rem;
  margin: 0px !important ;
}

/* Messages.js */
.messages {
  height: 440px;
  overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}